### Carthage ###
# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Spotlight-In-App-Search/Carthage/Build
Spotlight-In-App-Search/Carthage/Checkouts
